.flex {
  display: flex !important;
}
.inline-flex {
  display: inline-flex !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-col {
  flex-direction: column !important;
}
.justify-start {
  justify-content: flex-start !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-around {
  justify-content: space-around !important;
}
.justify-evenly {
  justify-content: space-evenly !important;
}
.items-start {
  align-items: flex-start !important;
}
.items-end {
  align-items: flex-end !important;
}
.items-center {
  align-items: center !important;
}
.items-baseline {
  align-items: baseline !important;
}
.items-stretch {
  align-items: stretch !important;
}
.self-scretch {
  align-self: center !important;
}
.gap-1 {
  gap: 4px !important;
}
.gap-2 {
  gap: 8px !important;
}
.gap-3 {
  gap: 12px !important;
}
.gap-4 {
  gap: 16px !important;
}
.gap-5 {
  gap: 20px !important;
}
.gap-6 {
  gap: 24px !important;
}
.gap-x-1 {
  column-gap: 4px !important;
}
.gap-x-2 {
  column-gap: 8px !important;
}
.gap-x-3 {
  column-gap: 12px !important;
}
.gap-x-4 {
  column-gap: 16px !important;
}
.gap-x-5 {
  column-gap: 20px !important;
}
.gap-x-6 {
  column-gap: 24px !important;
}
.gap-x-15 {
  column-gap: 60px !important;
}
.gap-x-19 {
  column-gap: 76px !important;
}
.gap-x-25 {
  column-gap: 100px !important;
}
.gap-y-1 {
  row-gap: 4px !important;
}
.gap-y-2 {
  row-gap: 8px !important;
}
.gap-y-3 {
  row-gap: 12px !important;
}
.gap-y-4 {
  row-gap: 16px !important;
}
.gap-y-5 {
  row-gap: 20px !important;
}
.gap-y-6 {
  row-gap: 24px !important;
}
.gap-y-7 {
  row-gap: 28px !important;
}
.gap-y-10 {
  row-gap: 40px !important;
}
