@import "tailwindcss/preflight"; /* Replaces @tailwind base */
@import "antd/dist/reset.css"; /* Ant Design reset, if still needed */
@import "tailwindcss/utilities"; /* Replaces @tailwind utilities */
@import "./spacing.css";
@import "./flex.css";

.bgLogin {
  background: #999999;
}
.bgHeader {
  background: white !important;
}

.bgSider {
  background: white !important;
}

.auto-overflow {
  overflow: auto;
}

.border-radius-2 {
  border-radius: 8px;
}

.border-radius-4 {
  border-radius: 16px;
}

.border-radius-5 {
  border-radius: 20px;
}

.form-login {
  margin: auto;
  width: 100%;
  max-width: 600px;
}

.add-transaction {
  margin: auto;
  width: 100%;
  max-width: 500px;
}

.ant-modal.centered-modal {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
